<div class="text-3xl font-bold flex" id="header_with_status_<%= status %>">
  <div><%= status.to_s.capitalize %></div>
  <div
    id="button_with_status_<%= status %>"
    class="ml-8 chevron-down w-8 h-8">
  </div>
</div>
