<div class="flex ml-2">
  <% if next_label(card.status) %>
    <div>
      <%= button_to(
            next_label(card.status),
            card_advances_path(id: card.id),
            method: :post,
            class: "#{new_button_class} advance"
          ) %>
    </div>
  <% end %>
  <div class="mx-4 show_more">
    <%= image_tag("eye.svg", size: "25x25") %>
  </div>
  <div class="mx-4 show_more">
    <%= f.submit("Submit", type: :image, src: image_path("reply.svg"), class: "h-4 w-4") %>
  </div>
</div>
