<div class="flex-grow">
  <div class="flex flex-col">
    <div class="flex mx-10">
      <div class="w-11/12">
        <%= f.input(
              :description,
              label: false,
              input_html: {
                rows: 5,
              }
            ) %>
      </div>
    </div>
  </div>
</div>
