<div class="w-full mr-12 mt-2 flex-grow w-auto">
  <%= f.input(
        :name,
        label: false,
        placeholder: "Name",
        required: true,
        autofocus: true,
        input_html: {
          class: "w-full font-bold text-lg text-black max-h-6",
        }
      ) %>
</div>
