<div
  class="<%= dropdown_ring %>"
  data-pulldown-target="display"
  data-action="click->pulldown#open">
  <span
    id="<%= card.slugged_id(:size_text) %>"
    class="<%= font_size_from(card.size) %>">
    <%= card.size %>
  </span>
</div>
